<div class="row ">
    <div class="col-sm-12 top-10">
        <button type="button" onclick="addBase()"
                class="btn btn-primary btn-sm waves-effect waves-light">
            添加基础镜像
        </button>
        <button type="button" onclick="showUpload();"
                class="btn btn-primary btn-sm button-select radius3 waves-effect waves-light"><i
                class="dripicons-cloud-upload"></i><span>&nbsp;上传镜像</span></button>
        <div class="col-sm-1 cluster-search pull-right">
            <button type="button" class="btn btn-default waves-effect waves-light"
                    onclick="loadBaseData()"
                    style="border-radius: 5px;">
                <i class="fa fa fa-refresh"></i>
            </button>
        </div>
        <div class="col-md-3 pull-right">
            <input type="text" onchange="loadBaseData($(this).val())" class="form-control" id="search_user_id"
                   placeholder="搜索镜像名称,描述信息,仓库地址">
            <i class="fa fa-search form-control-feedback l-h-34 right15"></i>
        </div>
    </div>
    <br>
    <div class="col-sm-12 app-table" >
        <table id="registry-base-data-table" class="table table-hover" >
            <thead>
            <tr>
                <th>仓库地址</th>
                <th>镜像名称</th>
                <th>镜像类型</th>
                <th>创建时间</th>
                <th>最近修改时间</th>
                <th>描述信息</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br>
    </div>
</div>
<script>
    /**
     * 2018-01-28 11:38
     * 显示上传帮助信息
     * */
    function showUpload() {
        $("#upload_help_html").show();
        $("#upload_help_html").modal("toggle");
    }
</script>