<div id="add_post_html" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog ">
        <div class="modal-content p-0 b-0 ">
            <div class="panel panel-color panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-title">修改添加用户</span>
                </div>
                <form class="cluster-form">
                    <div class="panel-body font-12 ">
                        <div class="row top10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-1" class="col-md-2 fw100 control-label">登录名<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" nullmsg="必须填写" value="{{.data.UserName}}"
                                               onchange="checkChange('UserName')" name="UserName"
                                               class="form-control" id="field-1" placeholder="必须为全英文">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-3" class="col-md-2 fw100 control-label">真实姓名<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" nullmsg="必须填写" value="{{.data.RealName}}"
                                               onchange="checkChange('RealName')" name="RealName" id="RealName"
                                               class="form-control" id="field-3" placeholder="必须为全英文">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-13" class="col-md-2 fw100 control-label">邮箱地址<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="email" nullmsg="必须填写" value="{{.data.UserEmail}}"
                                               onchange="checkChange('UserEmail')" name="UserEmail" id="UserEmail"
                                               class="form-control" id="field-13" placeholder="用户邮箱地址">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-14" class="col-md-2 fw100 control-label">手机号<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="number" nullmsg="必须填写" value="{{.data.UserMobile}}"
                                               onchange="checkChange('UserMobile')" name="UserMobile" id="UserMobile"
                                               class="form-control" id="field-14" placeholder="用户手机号">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-12" class="col-md-2 fw100 control-label">用户密码</label>
                                    <div class="col-md-10">
                                        <input type="password" value="{{.data.Pwd}}" name="Pwd"
                                               class="form-control" id="field-12" placeholder="登录密码">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10" title="禁用该账号登录平台">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="col-md-2 fw100 control-label">是否禁用</label>
                                    <div class="col-md-4 left10">
                                        <div class="checkbox checkbox-primary left10">
                                            <input id="checkbox10" {{.userchecked}} onchange="changeStatus($(this))" type="checkbox"
                                                   name="IsDel" value="{{.data.IsDel}}">
                                            <label for="checkbox10" class="fw100 control-label">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-2" class="col-md-2 fw100 control-label">描述信息</label>
                                    <div class="col-md-10">
                                        <input type="text" value="{{.data.Description}}" name="Description"
                                               class="form-control" id="field-2" placeholder="描述信息">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i
                                class="fa fa-times"></i>&nbsp;&nbsp;取消
                        </button>
                        <button type="button" onclick="saveUser('{{.data.UserId}}')"
                                class="btn btn-info waves-effect waves-light"><i class="fa fa-save"></i>&nbsp;&nbsp; 保存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>