<!DOCTYPE html>
<html>

<!-- Tooltipster css -->
{{template "template/head.html" .}}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="container">
    <!-- Start content -->
    <div class="content">
            <div id="add_groups_html"></div>
            <div class="row ">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <span class="dashabord-title">应用日志</span>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">日志驱动配置</a>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row ">
                <div class="col-sm-12 top-10">
                    <button type="button" onclick="addDriver()"
                            class="btn btn-primary btn-sm waves-effect waves-light">
                        创建日志驱动
                    </button>

                    <div class="col-sm-1 cluster-search pull-right">
                        <button type="button" class="btn btn-default waves-effect waves-light"
                                onclick="loadDriverData()"
                                style="border-radius: 5px;">
                            <i class="fa fa fa-refresh"></i>
                        </button>
                    </div>

                    <div class="col-sm-6 pull-right">
                        <pre>每个集群至少需要有一个kafka或者estcisearch进行日志收集,如果不需要收集日志就不用配置</pre>
                    </div>
                </div>
                <br>
                <div class="col-sm-12 app-table" >
                    <table id="user-data-table" class="table table-hover" >
                        <thead>
                        <tr>
                            <th>环境名称</th>
                            <th>集群地址</th>
                            <th>驱动类型</th>
                            <th>地址</th>
                            <th>备注</th>
                            <th>最近更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end col -->
{{template "template/bottom.html" .}}
</body>
</div>

<script src="/static/zcloud/logDriver.js"></script>
<script>
    loadDriverData();
</script>
</html>