<div id="add_post_html" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog " style="width: 50%;">
        <div class="modal-content p-0 b-0 ">
            <div class="panel panel-color panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-title">添加修改批量部署</span>
                </div>
                <form class="cluster-form">
                    <div class="panel-body font-12 ">

                        <div class="row top10" title="">
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="select-entname-id"
                                           class="col-md-3 fw100 control-label">环境选择<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="Ent"
                                                onchange="getEntClusterData($(this).val())"
                                                data-live-search="true" data-style="btn-default"
                                                id="select-entname-id">
                                        {{.entname}}
                                            <option>请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row top15" title="">
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="select-cluster-id"
                                           class="col-md-3 fw100 control-label">集群名称<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <select class="selectpicker" name="Cluster"
                                                onchange="setServiceName($(this).val())"
                                                data-live-search="true" data-style="btn-default"
                                                id="select-cluster-id">
                                            <option>请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top15" title="本次所有构建应用使用该版本号进行构建">
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="select-cluster-id"
                                           class="col-md-3 fw100 control-label">版本号<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="Version" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 5px;">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="col-sm-3 fw100 control-label" style="margin-left: -20px;">服务选择<span
                                        class="text-danger">*</span></label>
                                <label class="col-sm-4"><input placeholder="搜索服务"
                                                               onkeyup="searchUser($(this).val(),'undo_contact_group_redo')"
                                                               class="fa-border form-control"
                                                               style="margin-top:-5px;margin-left:-40%;"></label>
                                <label class="col-sm-3 fw100 control-label">已选择服务</label>
                            </div>
                            <div class="col-md-12" style="margin-top: 5px;"></div>
                            <div class="col-xs-5">
                                <select name="from" id="undo_contact_group_redo" class="form-control" size="10"
                                        multiple="multiple">
                                </select>
                            </div>

                            <div class="col-xs-2">
                                <div style="margin-top: 45px;">&nbsp;</div>
                                <button type="button" id="undo_contact_group_redo_rightSelected"
                                        class="btn btn-primary btn-block"><i
                                        class="glyphicon glyphicon-chevron-right"></i></button
                                >
                                <button type="button" id="undo_contact_group_redo_leftSelected"
                                        class="btn btn-warning btn-block"><i
                                        class="glyphicon glyphicon-chevron-left"></i></button>
                            </div>

                            <div class="col-xs-5">
                                <select name="to" id="undo_contact_group_redo_to" class="form-control" size="10"
                                        multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 5px;">&nbsp;</div>
                        <div class="row top10" title="">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="col-md-3 fw100 control-label top10">构建类型<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-3 left10" style="margin-left: 20px;">
                                        <div class="radio radio-info left10">
                                            <input id="selectStorageType1"  type="radio"
                                                   value="0"
                                                   name="BuildType">
                                            <label for="selectStorageType1" class="fw100 control-label">只构建镜像
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="radio radio-info left10">
                                            <input id="selectStorageType2"  type="radio"
                                                   value="1"
                                                   name="BuildType">

                                            <label for="selectStorageType2" class="fw100 control-label">构建并更新服务
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 5px;">&nbsp;</div>
                    <div class="row top10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-2" class="col-md-3 fw100 control-label">描述信息</label>
                                <div class="col-md-9">
                                    <input type="text" value="{{.data.Description}}" name="Description"
                                           class="form-control" id="field-2" placeholder="描述信息">
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <br>
                    <div class="col-md-12" style="margin-top: 5px;">&nbsp;</div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i
                                class="fa fa-times"></i>&nbsp;&nbsp;取消
                        </button>
                        <button type="button" onclick="saveBatch('{{.data.BatchId}}')"
                                class="btn btn-info waves-effect waves-light"><i class="fa fa-save"></i>&nbsp;&nbsp;保存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/multiselect.min.js"></script>
<script src="/static/zcloud/registrySelect.js"></script>
<script>
     $("#select-cluster-id").html("{{.cluster}}");
     $('.selectpicker').selectpicker({
         //初始化
         size: 10
     });
     setEntname();


     jQuery(document).ready(function ($) {
         $('#undo_contact_group_redo_to').multiselect({
             keepRenderingSort: true,
         });
         $('#undo_contact_group_redo').multiselect({
             keepRenderingSort: true,
         });
     });

     var id = '{{.data.BatchId}}';
     if(id=="0"){
         $("#selectStorageType1").attr("checked","true");
     }else {
         var t = '{{.data.BuildType}}';
         if(t=="0"){
             $("#selectStorageType1").attr("checked","true");
         }else{
             $("#selectStorageType2").attr("checked","true");

         }
     }

     /**
      * 2018-08-15 16:58
      * 获取服务名称
      * @param change
      */
     function setServiceName(cluster) {
         var url = "/api/service/name";
         var result = get({ClusterName:cluster}, url);
         var html = "";
         for (var i = 0; i < result.length; i++) {
             var t = result[i]["AppName"] +";"+ result[i]["ResourceName"]+";"+ result[i]["ServiceName"];
             if (html.indexOf("'" + t) == -1 ) {
                 html += "<option value='" + t + "'>" + t + "</option>";
             }
         }
         $("#undo_contact_group_redo").html(html);
     }
     setServiceName();
</script>