<!DOCTYPE html>
<html>

<!-- Tooltipster css -->
<link rel="stylesheet" href="/static/plugins/tooltipster/tooltipster.bundle.min.css">
{{template "template/head.html" .}}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div id="add_hosts_html"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <span class="dashabord-title">应用交付中心</span>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">容器治理</a>
                            </li>
                            <li>
                                <a href="#">应用管理</a>
                            </li>
                            <li>
                                <a href="#">详情</a>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12 top-10">
                    <i class="fa fa-cubes font-18"><strong class="left10">{{.data.AppName}}</strong></i>
                    <button type="button"
                            class="btn btn-success btn-rounded w-xs waves-effect waves-light cluster-runing">运行中
                    </button>
                    <div class="col-sm-3 pull-right" style="margin-right: -70px;">
                        <button id="updateAppId" class="btn btn-sm btn-default"><i
                                class="fa  fa-refresh">&nbsp;&nbsp;</i>更新
                        </button>
                        <button id="stopAppId" class="btn btn-sm btn-default"><i class="fa fa-stop-circle-o">&nbsp;&nbsp;</i>停止
                        </button>
                        <button id="deleteAppId1" class="btn btn-sm btn-default"><i
                                class="fa  fa-trash-o">&nbsp;&nbsp;</i>删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <div class="row">
            <div class="col-lg-12 top10" >
                <div class="portlet">
                    <div class="portlet-heading portlet-default">
                        <h3 class="portlet-title text-dark">
                            基本信息
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default"><i
                                    class="mdi mdi-minus"></i></a>
                            <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-default" class="panel-collapse collapse in">
                        <div class="portlet-body col-sm-12">
                            <div class="col-sm-3 ">
                                <img class="app-detail-img" src="/static/img/default.png" style="margin-top: -10px;"/>
                            </div>
                            <div class="col-sm-9">
                                <table class="table tablesaw  m-b-0 tablesaw-swipe">
                                    <tbody>
                                    <tr>
                                        <th class="noborder">集群</th>
                                        <th class="noborder">{{.data.ClusterName}}</th>
                                        <th class="noborder">创建人</th>
                                        <th class="noborder">{{.data.CreateUser}}</th>
                                    </tr>
                                    <tr>
                                        <th class="noborder">创建时间</th>
                                        <th class="noborder">{{.data.CreateTime}}</th>
                                        <th class="noborder">标签</th>
                                        <th class="noborder">{{.data.AppLabels}}</th>
                                    </tr>
                                    <tr>
                                        <th class="noborder">更新时间</th>
                                        <th class="noborder">{{.data.LastModifyTime}}</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 top10">
                <div class="card-box" id="cart-box" style="height: 500px;">
                    <ul class="nav nav-tabs tabs-bordered">
                        <li class="active">
                            <a href="#host-b1" data-toggle="tab" aria-expanded="false"
                               onclick="setBoxHeight('host-b1')">
                                <span class="visible-xs"><i class="fa fa-home"></i></span>
                                <span class="hidden-xs">服务</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#plugin-b1" data-toggle="tab" aria-expanded="false"
                               onclick="setBoxHeight('plugin-b1')">
                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                <span class="hidden-xs">TOP</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#monitor-b1" data-toggle="tab" aria-expanded="false"
                               onclick="setBoxHeight('monitor-b1')">
                                <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                                <span class="hidden-xs">事件</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#yaml-b1" data-toggle="tab" aria-expanded="false"
                               onclick="setBoxHeight('yaml-b1')">
                                <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                <span class="hidden-xs">Yaml</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="host-b1">
                            <div class="col-sm-12 top-10">
                                <div class="col-sm-1 cluster-search pull-right">
                                    <button type="button" class="btn btn-default waves-effect waves-light"
                                            onclick="loadDetailData()"
                                            style="border-radius: 5px;">
                                        <i class="fa fa fa-refresh"></i>
                                    </button>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <input type="text" onkeyup="loadDetailData($(this).val())" class="form-control"
                                           placeholder="按ip搜索">
                                    <i class="fa fa-search form-control-feedback l-h-34 right15"></i>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <table id="host-data-table" class="table table-hover table-striped ">
                                    <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>状态</th>
                                        <th>镜像</th>
                                        <th>配置</th>
                                        <th>链接到</th>
                                        <th>物理机</th>
                                        <th>IP地址</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane " id="plugin-b1">
                            紧张开发中
                            <div class="tooltip top" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner"> Tooltip on the top</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="monitor-b1">
                            紧张开发中
                        </div>
                        <div class="tab-pane" id="yaml-b1">
                            {{.data.Yaml}}
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- container -->

    </div> <!-- content -->


    {{template "template/bottom.html" .}}
    </body>
</div>

<script src="/static/plugins/raphael/raphael-min.js"></script>
<script src="/static/plugins/justgage/justgage.js"></script>
<script src="/static/zcloud/cluster.js"></script>
<script>


    /**
     * Theme: Adminox Admin Template
     * Author: Coderthemes
     * Module/App: Justgage
     */
    document.addEventListener("DOMContentLoaded", function (event) {

        var g7, g8;

        var g7 = new JustGage({
            id: "g7",
            value: parseFloat($("#CpuUsePercentId").val()),
            min: 0,
            max: 100,
            label: "%",
            donut: true,
            gaugeWidthScale: 0.4,
            counter: true,
            decimals: 2,
            hideInnerShadow: true
        });
        var g8 = new JustGage({
            id: "g8",
            value: parseFloat($("#MemUsePercentId").val()),
            min: 0,
            max: 100,
            label: "%",
            donut: true,
            gaugeWidthScale: 0.4,
            counter: true,
            decimals: 2,
            hideInnerShadow: true
        });
//        setInterval(function () {
//            g7.refresh(getRandomInt(0, 100));
//            g8.refresh(getRandomInt(0, 100));
//
//        }, 2500);
    });

    function loadDetailData(ip) {
        if (!ip) {
            ip = ""
        } else {
            if (ip.length < 4) {
                return
            }
        }

        $("#host-data-table").dataTable({
            "filter": false,//去掉搜索框
            "ordering": false, // 是否允许排序
            "paginationType": "full_numbers", // 页码类型
            "destroy": true,
            "processing": true,
            "bPaginate": false, //是否显示（应用）分页器
            "serverSide": true,
            "bInfo": false, //是否显示页脚信息，DataTables插件左下角显示记录数
            "scrollX": true, // 是否允许左右滑动
            "displayLength": 10, // 默认长度
            "ajax": { // 请求地址
                "url": "/api/app/detail/data/{{.data.AppName}}?t=" + new Date().getTime() + "&=" + ip + "&clusterName={{.data.ClusterName}}",
                "type": 'get'
            },
            "columns": [ // 数据映射
                {"data": "AppName"},
                {
                    "data": "Status", "mRender": function (data, type, full) {
                    if (data == true) {
                        r = '<button type="button" class="btn btn-success btn-rounded btn-xs waves-effect waves-light">运行中</button>'
                    } else {
                        r = '<button type="button"  class="btn btn-danger btn-rounded btn-xs waves-effect waves-light">错误</button>'
                    }
                    return "<span title='" + full["ErrorMsg"] + "'>" + r + "</span>"
                }
                },
                {"data": "Image"},
                {"data": "Status"},
                {"data": "Cpu"},
                {"data": "HostIp"},
                {"data": "PodIp"},
                {
                    "sWidth": "150px", "data": "HostId", "mRender": function (data, type, full) {
                    if ("master" != full["HostType"]) {
                        return '<button type="button" onclick="updateConfig(' + data + ')" class="btn btn-xs btn-warning">编辑</button>&nbsp;' +
                            '<button type="button" onClick="deleteConfig(' + data + ')" class="btn btn-xs btn-danger">删除</button>';
                    }
                    return ""
                }
                },
            ],
            "fnRowCallback": function (row, data) { // 每行创建完毕的回调
                $(row).data('recordId', data.recordId);
            }
        });
    }

    loadDetailData();
</script>
</html>