<div id="add_post_html" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog "  >
        <div class="modal-content p-0 b-0 ">
            <div class="panel panel-color panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-title">滚动升级</span>
                </div>
                <form class="cluster-form">
                    <div class="panel-body font-12 ">
                        <div class="row top10">
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="field-9" class="col-md-3 fw100 control-label">集群名称</label>
                                    <div class="col-md-9" id="field-9">
                                        <input class="form-control" readonly
                                               value="{{.data.ClusterName}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="field-11" class="col-md-3 fw100 control-label">服务名称</label>
                                    <div class="col-md-9" id="field-11">
                                        <input class="form-control" type="hidden" id="update_image_service_id" readonly
                                               name="ServiceId"
                                               value="{{.data.ServiceId}}"/>
                                        <input class="form-control" readonly name="ServiceName"
                                               value="{{.data.ServiceName}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="field-13" class="col-md-3 fw100 control-label">当前镜像</label>
                                    <div class="col-md-9" id="field-13">
                                        <input class="form-control" readonly
                                               value="{{.data.ImageTag}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="field-14" class="col-md-3 fw100 control-label">升级到版本</label>
                                    <div class="col-md-9" id="field-14">
                                        <input class="form-control" id="update_image_version_id" errmsg="格式错误"
                                               value="{{.tag}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="field-14" class="col-md-3 fw100 control-label">版本选择</label>
                                    <div class="col-md-9" id="field-14">
                                        <select class="selectpicker"
                                                onchange="changeImg($(this).val())"
                                                data-live-search="true" data-style="btn-default"
                                                id="select-image-id">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 top10">
                                <div class="form-group">
                                    <label for="field-15" class="col-md-3 fw100 control-label">升级间隔</label>
                                    <div class="col-md-9" id="field-15">
                                        <input type="number" min="2" max="60" placeholder="更新间隔时间 2~60s"
                                               class="form-control" id="update_interval_id" errmsg="更新间隔时间"
                                               value="{{.data.MinReady}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i
                                class="fa fa-times"></i>&nbsp;&nbsp;取消
                        </button>
                        <button type="button" onclick="updateServiceImage()"
                                class="btn btn-info waves-effect waves-light"><i class="fa fa-save"></i>&nbsp;&nbsp; 保存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // 更新间隔
    var n = $("#update_interval_id").val();
    if (n == 0) {
        $("#update_interval_id").val(10);
    }

    var imgs = '<option>--请选择--</option>{{.images}}';
    console.log(imgs)
    $("#select-image-id").html(imgs);
    $('.selectpicker').selectpicker({
        //初始化
        size: 5
    });

    /**
     * 修改镜像
     * @param val
     */
    function changeImg(val) {
       var odl =  $('#update_image_version_id').val().split(":")[0];
        $('#update_image_version_id').val(odl + ":" + val)
    }
</script>