<!DOCTYPE html>
<html>

<!-- Tooltipster css -->
{{template "template/head.html" .}}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="container">
        <!-- Start content -->
        <div class="content">
            {%include ci/job/dockerfile.html%}
            <div id="add_code_html"></div>
            <div class="row ">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <span class="dashabord-title">应用交付中心</span>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="/ci/service/list">服务发布</a>
                            </li>
                            <li>
                                <a href="#">发布历史</a>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row ">
                <div class="col-sm-12 top-10">
                    <div class="col-sm-1 cluster-search pull-right">
                        <button type="button" class="btn btn-default waves-effect waves-light"
                                onclick="loadReleaseHistoryData()"
                                style="border-radius: 5px;">
                            <i class="fa fa fa-refresh"></i>
                        </button>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" onchange="loadReleaseHistoryData($(this).val())" class="form-control"
                               id="search_user_id"
                               placeholder="发布描述,项目描述,服务名称">
                        <i class="fa fa-search form-control-feedback l-h-34 right15"></i>
                    </div>
                </div>
                <br>
                <div class="col-sm-12 app-table">
                    <br>
                    <table id="history-data-table" class="table table-hover">
                        <thead>
                        <tr>
                            <th>环境/集群</th>
                            <th>域名</th>
                            <th>应用/服务</th>
                            <th>发布时间</th>
                            <th>发布/测试</th>
                            <th>镜像名称</th>
                            <th>禅道链接</th>
                            <th>更新/回滚</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end col -->
{{template "template/bottom.html" .}}
</body>
</div>
<script src="/static/zcloud/ciService.js"></script>
<script>
    /**
     * 加载数据
     * @param key
     */
    function loadReleaseHistoryData(key) {
        if (!key) {
            key = $("#search_user_id").val();
        } else {
            if (key.length < 4) {
                return
            }
        }
        if (!key) {
            key = "";
        }

        $("#history-data-table").dataTable({
            "filter": false,//去掉搜索框
            "ordering": false, // 是否允许排序
            "paginationType": "full_numbers", // 页码类型
            "destroy": true,
            "processing": true,
            "bPaginate": true, //是否显示（应用）分页器
            "serverSide": true,
            "bLengthChange": false,
            "bInfo": true, //是否显示页脚信息，DataTables插件左下角显示记录数
            "scrollX": true, // 是否允许左右滑动
            "displayLength": 10, // 默认长度
            "ajax": { // 请求地址
                "url": "/api/ci/service/history?t=" + new Date().getTime() + "&search=" + key + "&domain={{.data.Domain}}",
                "type": 'get'
            },
            "columns": [ // 数据映射
                {
                    "data": "Entname", "sWidth": "8%", "mRender": function (data, type, full) {
                    return data + "<br><a class='th-top-8'>" + full["ClusterName"] + "</a>";
                }
                },
                {
                    "data": "Domain", "sWidth": "8%", "mRender": function (data, type, full) {
                    return data + "<br><a class='th-top-8'>" + full["GroupName"] + "</a>";
                }
                },
                {
                    "data": "AppName", "sWidth": "8%", "mRender": function (data, type, full) {
                    return data + "<br><a class='th-top-8' href='/application/service/list?name=" + full["ServiceName"] + "'>" + full["ServiceName"] + "</a>";
                }
                },
//                {
//                    "data": "ReleaseType", "sWidth": "10%", "mRender": function (data, type, full) {
//                    var v = "";
//                    if (data == "1") {
//                        v = "蓝绿发布";
//                    }
//                    if (data == "2") {
//                        v = "灰度发布";
//                    }
//                    if (data == "3") {
//                        v = "滚动更新";
//                    }
//                    return full["LbVersion"] +"<br>" + v;
//                }
//                },
                {"data": "CreateTime", "sWidth": "7%"},
                {
                    "data": "ReleaseTestUser", "sWidth": "7%", "mRender": function (data, type, full) {
                    return full["CreateUser"] + "<br><span class='th-top-8'>" + data + "</span>";
                }
                },
                {"data": "ImageName", "sWidth": "17%", "mRender":function (data,type,full) {
                    return "<div style='word-wrap:break-word'>" + full["OldImages"] + "</div><div class='th-top-8' style='word-wrap:break-word'><a>" + data + "</a></div>";
                }},
                {"data": "ReleasePmLink", "sWidth": "8%"},
                {
                    "data": "HistoryId", "sWidth": "8%", "mRender": function (data,type,full) {
                    return '<button type="button" title="更新发布信息" onclick="modifyHistory(' + data + ')" class="btn m-l-5 btn-xs rb-btn-oper"><i class="fa fa-pencil"></i></button>&nbsp;' +
                     '<button type="button" title="回滚到该版本,只回滚2周内有效版本" onclick="rollbackServiceHistorySwal(' + data + ',\''+full["OldImages"]+'\')" class="btn btn-xs rb-btn-oper"><i class="mdi mdi-rotate-left"></i></button>&nbsp;';
                }
                },
            ],
            "fnRowCallback": function (row, data) { // 每行创建完毕的回调
                $(row).data('recordId', data.recordId);
            }
        });
    }
    loadReleaseHistoryData();
</script>
</html>