<!DOCTYPE html>
<html>

<!-- Tooltipster css -->
{{template "template/head.html" .}}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style>
    .tHeight{
        height:65px;
    }
    table.dataTable {
        clear: both;
        margin-top: -26px !important;
        margin-bottom: 6px !important;
        max-width: none !important;
    }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 24px 5px;
    }
</style>
<div class="content-page">
    <div class="container">
    <!-- Start content -->
    <div class="content">
            <div id="add_code_html"></div>
            <div class="row ">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <span class="dashabord-title">应用交付中心</span>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">持续集成</a>
                            </li>
                            <li>
                                <a href="#">服务发布</a>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row ">
                <div class="col-sm-12 top-10">
                    <button type="button" onclick="addService()"
                            class="btn btn-primary btn-sm waves-effect waves-light">
                        创建发布
                    </button>
                    <div class="col-sm-1 cluster-search pull-right">
                        <button type="button" class="btn btn-default waves-effect waves-light"
                                onclick="loadCiServiceData()"
                                style="border-radius: 5px;">
                            <i class="fa fa fa-refresh"></i>
                        </button>
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="text" onchange="loadCiServiceData($(this).val())" class="form-control" id="search_user_id"
                               placeholder="搜索名称,描述信息,域名">
                        <i class="fa fa-search form-control-feedback l-h-34 right15"></i>
                    </div>
                </div>
                <br>
                <div class="col-sm-12 app-table" >

                    <div class="rb-legend-list pull-right left10 m-t-10"
                         layout-align="start center">
                        <span class="text-default">所有切换操作都在负载均衡切换,请保证应用都是访问的负载均衡</span>
                        <span class="label label-warning min-label" style="border-radius: 10px !important;">&nbsp;</span>不可操作
                        <span class="label label-danger min-label m-l-15" style="border-radius: 10px !important;">&nbsp;</span>重要
                        <span class="label label-danger min-label m-l-15" style="border-radius: 10px !important;color: #2db7f5;background-color: #2db7f5;">&nbsp;</span>可操作
                    </div>
                    <table id="service-data-table" class="table table-hover" >
                        <thead>
                        <tr>
                            <th>环境/集群</th>
                            <th>域名/业务线</th>
                            <th>应用/服务</th>
                            <th>镜像版本操作</th>
                            <th>版本发布操作</th>
                            <th><span class="m-l-10">发布/回滚</span></th>
                            <th><span class="m-l-15">操作</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end col -->
{{template "template/bottom.html" .}}
</body>
</div>

<script src="/static/zcloud/ciService.js"></script>
<!-- Range slider js -->
<script src="/static/plugins/ion-rangeslider/ion.rangeSlider.min.js"></script>
<script>
    loadCiServiceData();
</script>
</html>