<div id="add_post_html" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog " style="width: 60%;" title="鼠标放到右侧可拖动">
        <div class="modal-content p-0 b-0 ">
            <div class="panel panel-color panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-title">提交日志 </span>
                </div>
                <form class="cluster-form">
                    <div id="history_log_id" style="min-height: 400px;padding: 20px;max-height: 500px;overflow-y: scroll;background-color: #000000;color: #ffffff;">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>