<footer class="footer text-right">
    2018 ZCloud 专注Docker服务
</footer>

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->
<!-- jQuery  -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/metisMenu.min.js"></script>
<script src="/static/js/waves.js"></script>
<script src="/static/js/jquery.slimscroll.js"></script>

<!-- Counter js  -->
<script src="/static/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/static/plugins/counterup/jquery.counterup.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="/static/plugins/jquery-knob/jquery.knob.js"></script>

<!-- Sparkline charts -->
<script src="/static/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

<script src="/static/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="/static/plugins/select2/js/select2.min.js" type="text/javascript"></script>



<!-- Sweet-Alert  -->
<script src="/static/plugins/sweet-alert2/sweetalert2.min.js"></script>
<script src="/static/zcloud/zcloud.js"></script>

<!--datable-->
<script src="/static/plugins/datatables/jquery.dataTables.js"></script>
<script src="/static/plugins/datatables/fnReloadAjax.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.js"></script>
<!-- App js -->
<script src="/static/js/jquery.core.js"></script>
<script src="/static/js/jquery.app.js"></script>

<!--<script type="text/javascript" src="http://validform.rjboy.cn/Validform/v5.3.2/Validform_v5.3.2_min.js"></script>-->

<script>
    loadClusterSelect("head-cluster-select")
</script>