<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ZCloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="ZCloud k8s 容器云平台" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- App css -->
    <link href="/static/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/responsive.css" rel="stylesheet" type="text/css" />

    <script src="/static/js/modernizr.min.js"></script>

</head>


<body class="bg-accpunt-pages">

<!-- HOME -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">

                <div class="wrapper-page">
                    <div class="account-pages">
                        <div class="account-box">

                            <div class="account-logo-box">
                                <h2 class="text-center">
                                    <a href="index.html" class="text-success">
                                        <h1 class="text-center"><i class="fa fa-mixcloud cluster-cloud"></i>&nbsp;&nbsp;ZCloud</h1>
                                    </a>
                                </h2>
                            </div>

                            <div class="account-content">
                                <h1 class="text-error">503</h1>
                                <h2 class="text-danger m-t-30">服务去散步啦,不能提供服务!</h2>
                                <p class="text-muted m-t-30">  <a href="" class="text-primary"><b>稍等再试一下</b></a></p>

                                <a class="btn btn-md btn-block btn-primary waves-effect waves-light m-t-20" href="/"> 返回首页</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- END HOME -->




<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/metisMenu.min.js"></script>
<script src="/static/js/waves.js"></script>
<script src="/static/js/jquery.slimscroll.js"></script>
<script src="/static/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

<!-- App js -->
<script src="/static/js/jquery.core.js"></script>
<script src="/static/js/jquery.app.js"></script>

</body>
</html>